@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");

html,
body {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  background-color: #f4f4f4;
}

.section-title h2 {
  line-height: 1.5;
  font-size: 35px;
  letter-spacing: 3px;
  font-weight: 600px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.section-title h2:after {
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  content: "";
  width: 50px;
  height: 2px;
  background: #ec5b53;
  margin: 0 auto;
}

/* Navigation */

.navbar {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-item {
  padding: 0.4rem;
  font-weight: 700;
}

.nav-link {
  color: black !important;
}

.active {
  color: #ec5b53 !important;
}

.nav-link:hover {
  color: #ec5b53 !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  z-index: 0;
  position: relative;
  font-family: "Spectral", serif;
  text-transform: lowercase;
}

.navbar-brand:after {
  position: absolute;
  top: 50%;
  left: -12px;
  width: 40px;
  height: 40px;
  content: "";
  background: #ec5b53;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.navbar-brand span {
  color: #fff;
  text-transform: uppercase;
}

/* HOME */

.home-section {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section .home-content {
  width: 100%;
  margin-top: 5rem;
}

.slider-text {
  margin-right: 0;
  padding-left: 0;
}

.slider-text .nameheading {
  font-family: "Spectral", serif;
  font-size: 20px;
  font-weight: 700;
  color: #ec5b53;
  letter-spacing: 2px;
}

.slider-text h1 {
  font-size: 75px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text h2 {
  font-weight: 800;
}

.slider-text h2 span {
  color: #ec5b53;
  text-decoration: underline;
}

.scroll-down-arrow {
  margin: 7% 0;
}

.scroll-down-arrow a {
  text-decoration: none;
  color: #ec5b53 !important;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* ABOUT */
.about-section {
  color: black;
  text-align: justify;
}

.box-shadow {
  padding: 3rem 2rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.intouch-btn {
  color: black !important;
  background-color: #ec5b53;
  padding: 10px;
  border: 1px solid #494949 !important;
  transition: all 0.5s ease 0s;

}

.intouch-btn:hover {
  color: #ffffff !important;
  background: #2C3E50;
  border-color: #ec5b53 !important;
  transition: all 0.5s ease 0s;
  border-radius: 50px;
}

.rsm-btn {
  color: black !important;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #494949 !important;
  transition: all 0.5s ease 0s;

}

.rsm-btn:hover {
  color: #ffffff !important;
  background: #ec5b53;
  border-color: #2c3e50 !important;
  transition: all 0.5s ease 0s;
  border-radius: 50px;
}

/* SERVICES */

.service-title p {
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000000;
  position: relative;
}

.service-content {
  margin-bottom: 20px;
  padding: 2em;
  width: 100%;
  border: 2px solid #f7e1e8;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.service-content .icon {
  color: #ec5b53;
  font-size: 60px;
  margin-bottom: 30px;
  display: block;
  width: 100px;
  height: 100px;
  background: #fff4f4;
  line-height: 100px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
}

.service-content .icon i {}

.service-content .service-desc h3 {
  line-height: 1.3;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  color: #000000;
}

.service-content .service-desc h3:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: #ec5b53;
  margin: 0 auto;
}

.service-content .service-desc p {
  color: #000;
  text-align: center;
}

.service-content span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.service-content:hover {
  background: #ec5b53;
}

.service-content:hover h3:after {
  background: #000000;
}


/* RESUME SECTION */
.resume {
  width: 100%;
  margin-bottom: 100px;
}

.resume .heading {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 25px;
  color: #ec5b53;
  text-align: left;
}

.rsm_wrap {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.rsm_wrap .info-title {
  font-weight: 700;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6);
  color: #3e64ff;
}

.rsm_wrap .duration {
  font-size: 14px;
  font-weight: 700;
}

.rsm_wrap h1 {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.rsm_wrap p {
  color: #000000;
  font-weight: 200;
  font-size: 16px;
  text-align: justify;
}

.progress_wrap {
  width: 100%;
  margin-bottom: 35px;
}

.progress_wrap .skill {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #223688;
}

.progress {
  height: 15px;
  box-shadow: none;
  background: #e6e6e6;
  overflow: visible;
}

.progress-bar {
  box-shadow: none;
  position: relative;
  overflow: visible;
  border-radius: 2px;
}

.progress-bar .value {
  position: absolute;
  top: -34px;
  right: 0;
  font-size: 15px;
  font-weight: bold;
  color: #223688;
}


/* PORTFOLIO SECTION */
.project_content .card-body{
  position: relative;
}

.project_content .project_tag_box {
  left: 20px;
  right: 20px;
  position: absolute;
  text-align: center;
  top: -15px;
  overflow: hidden;
  
}
.project_content .project_tag {
  display: inline-block;
  padding: 5px 15px 5px;
  background-color: #ec5b53;
  border-radius: 5px;
  border: 1px solid black;
}

.project_content .project_tag .tag {
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  font-size:16px;
  margin-bottom: 0; 
}

.project_content .technology_used {
  display: inline-block;
}

.project_content .links{
  display: inline-block;
  float: right;
}
.project_title{
  margin-top: 20px;
  font-family: "Spectral", serif;
  font-size: 20px;
  font-weight: 700;
  color: #ec5b53;
  letter-spacing: 2px;
}

.technology_used span { 
  margin: 4px;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  color:#ec5b53;
  border: 1px solid black;
  background: transparent;
}

.links a {
  font-size: 20px;
  text-shadow: 1px 1px 1px;
  margin: 10px;
  padding: 4px;
  position: relative;
  width: 25px;
  height: 25px;
  color: #ec5b53;
}

/* FOOTER  */

footer .social-links {
  padding-bottom: 10px;
}

footer .social-links a {
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inline-block;
  background: #fff;
  color: #ec5b53;
  line-height: 1;
  padding: 10px 0;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #ec5b53;
}

footer .social-links a:hover {
  background: #ec5b53;
  color: #fff;
}

#footer {
  background: #fff;
  padding: 24px 0;
  font-size: 14px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}